<div class="main">
    <div class="container-box">
      <div class="main_content">
        <form class="form validate-form flex-sb flex-w">
          <span class="form-title">
            Sign In
          </span>
  
          <div class="text_inp">
              <span class="txt1">
                Email/Mobile Number
              </span>
            </div>
            <div class="wrap-input validate-input">
              <input class="input100" type="text" name="number" maxlength="40" id="num_em">
              <span class="focus-input100"></span>
    
              <span class="error error-username" id="span3">
                <span class="error-txt-username" id="span-number">Please Enter A Valid Email/Mobile Number</span>
                <span class="error-img"><i class="fas fa-exclamation"></i></span>
            </span>
          </div>
  
          <div class="text_inp">
              <span class="txt1">
                Password
              </span>
            </div>
            <div class="wrap-input validate-input">
              <input class="input100" type="password" name="password" placeholder="Atleast 8 characters" maxlength="15" id="password">
              <span class="focus-input100"></span>
    
              <span class="error error-username" id="span5">
                <span class="error-txt-username" id="span-password">Please Enter Password</span>
                <span class="error-img"><i class="fas fa-exclamation"></i></span>
            </span>
          </div>
  
          <div class="container-login100-form-btn ">
            <button (click)="loginUser()" class="login100-form-btn" id="submit">
              Sign In
            </button>
          </div>
  
          <div class="w-full text-center p-t-55">
            <span class="txt2">
              New Member?
            </span>
  
            <a href="http://localhost:4200//registration" class="txt2 bo1">
              Sign up now
            </a>
          </div>
        
        </form>
      </div>
    </div>
  </div>
    
  
  
