
@font-face {
  font-family: Poppins-Regular;
  src: url('../../assets/static/fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../../assets/static/fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('../../assets/static/fonts/montserrat/Montserrat-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../../assets/static/fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
    font-family: Poppins-Regular, sans-serif;
    margin: 0px;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #555555;}
input:-moz-placeholder { color: #555555;}
input::-moz-placeholder { color: #555555;}
input:-ms-input-placeholder { color: #555555;}

textarea::-webkit-input-placeholder { color: #555555;}
textarea:-moz-placeholder { color: #555555;}
textarea::-moz-placeholder { color: #555555;}
textarea:-ms-input-placeholder { color: #555555;}

label {
  display: block;
  margin: 0;
}

button {
	outline: none !important;
	border: none;
  background: transparent;
  font-family: Montserrat-Medium;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Montserrat-SemiBold;
  font-size: 20px;
  color: orangered;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 14px;
  color: #999999;
  line-height: 1.5;
}

.bo1 {
  border-bottom: 1px solid #999999;
  text-decoration: none;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.main {
  width: 100%;
  margin: 0 auto;
}

.container-box {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("../../assets/static/images/bg2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;;
}


.main_content {
  width: 37%;
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding-left: 4%;
  padding-top: 2%;
  padding-bottom: 1.5%;
  padding-right: 4%;
}


/*==================================================================
[ Form ]*/

.form {
  width: 100%;
}

.form-title {
  width: 100%;
  display: block;
  font-family: Montserrat-Medium;
  font-size: 30px;
  padding-bottom: 5%;
  color: orangered;
  line-height: 1.2;
  text-align: center;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  margin-top: 17px;
  display: flex;
  flex-wrap: wrap;
}

.login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  background-color: #333333;
  border-radius: 10px;

  font-family: Poppins-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.login100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  background: orangered;
  background: -webkit-linear-gradient(45deg, orangered, orange);
  background: -o-linear-gradient(45deg,  orangered, orange);
  background: -moz-linear-gradient(45deg,  orangered, orange);
  background: linear-gradient(45deg,  orangered, orange);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login100-form-btn:hover:before {
  opacity: 1;
}

.text_inp{
    width:100%;
    height:5%;
}

/*--------------------------------------
[table]*/
.employee{
  width: 100%;
  height: 303px; 
  display: block;
  border: 1px red solid;
  overflow-y: auto;
  margin-bottom: 2%; 
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  height:50px;
  font-family: Montserrat-Medium;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

